.version.index /* version checker */
{
	color: #000012;
	background-color: #79EA73;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 3923.79999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -2px;
	margin-bottom: -40px;
}

#u276
{
	z-index: 144;
	height: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u276-bw
{
	z-index: 144;
	margin-top: 2px;
	height: 50px;
}

#pu277
{
	width: 0.01px;
	padding-bottom: 45px;
	margin-left: -50px;
	margin-top: -52px;
}

#u277
{
	z-index: 145;
	width: 117px;
	background-color: transparent;
	position: fixed;
	top: 18px;
	left: 50%;
	margin-left: -530px;
}

#menuu120
{
	z-index: 147;
	width: 567px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 28px;
	left: 50%;
	margin-left: -37px;
}

#u135
{
	width: 140px;
	min-height: 26px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u138
{
	width: 140px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 10px;
	position: relative;
}

#u139
{
	height: 16px;
	width: 140px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	background: url("../images/u139.png") no-repeat 0px 0px;
}

#u138:hover #u139
{
	background: url("../images/u139-r.png") no-repeat 0px 0px;
}

#u121
{
	width: 140px;
	min-height: 26px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 142px;
}

#u124
{
	width: 140px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 10px;
	position: relative;
}

#u127
{
	height: 16px;
	width: 140px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	background: url("../images/u127.png") no-repeat 0px 0px;
}

#u124:hover #u127
{
	background: url("../images/u127-r.png") no-repeat 0px 0px;
}

#u259
{
	width: 140px;
	min-height: 26px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 284px;
}

#u262
{
	width: 140px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 10px;
	position: relative;
}

#u263
{
	height: 16px;
	width: 140px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	background: url("../images/u263.png") no-repeat 0px 0px;
}

#u262:hover #u263
{
	background: url("../images/u263-r.png") no-repeat 0px 0px;
}

#u142
{
	width: 141px;
	min-height: 26px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 426px;
}

#u145
{
	width: 141px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 10px;
	position: relative;
}

#u138.MuseMenuActive,#u124.MuseMenuActive,#u262.MuseMenuActive,#u145.MuseMenuActive
{
	margin: 0px;
}

#u146
{
	height: 16px;
	width: 141px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	background: url("../images/u146.png") no-repeat 0px 0px;
}

#u145:hover #u146
{
	background: url("../images/u146-r.png") no-repeat 0px 0px;
}

#slideshowu216
{
	z-index: 7;
	width: 0.01px;
	height: 523px;
	left: -50px;
	margin-top: 12px;
	position: relative;
}

#u224
{
	position: absolute;
	width: 1060px;
	height: 523px;
	background-color: transparent;
}

#u224popup
{
	z-index: 8;
}

#u327
{
	z-index: 9;
	width: 1060px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u225
{
	z-index: 11;
	width: 1060px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u225_img
{
	margin-top: -64px;
	margin-bottom: -49px;
}

#u306
{
	z-index: 13;
	width: 1060px;
	height: 523px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u327_clip,#u225_clip,#u306_clip
{
	overflow: hidden;
	width: 1060px;
	height: 523px;
}

#u327_img,#u306_img
{
	margin-top: -56px;
	margin-bottom: -57px;
}

#u231-4
{
	position: absolute;
	display: block;
	vertical-align: top;
	top: 194px;
}

#u231-4popup
{
	z-index: 15;
}

#u233-4
{
	position: absolute;
	display: block;
	vertical-align: top;
	top: 194px;
	left: 1009px;
}

#u233-4popup
{
	z-index: 19;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pintro
{
	width: 0.01px;
	margin-left: -179px;
	margin-top: 18px;
}

#intro
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 20px;
}

#u287
{
	z-index: 23;
	width: 759px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 544px;
}

#u316-9
{
	z-index: 25;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: 347px;
}

#u462
{
	z-index: 135;
	width: 696px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 494px;
	left: 60px;
}

#u468-7
{
	z-index: 137;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 811px;
	left: 608px;
}

#u283-4
{
	z-index: 169;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 206px;
}

#features
{
	left: -189px;
	margin-top: 38px;
	position: relative;
}

#pu469
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 55px;
}

#u469
{
	z-index: 4;
	width: 1161px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u469_clip
{
	overflow: hidden;
	width: 1161px;
	height: 575px;
}

#u469_img
{
	margin-left: -7px;
	margin-top: -64px;
	margin-bottom: -62px;
}

#u318
{
	z-index: 34;
	height: 575px;
	border-style: none;
	border-color: transparent;
	background-color: #2A358C;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

#u318-bw
{
	z-index: 34;
	height: 575px;
}

#u343-4
{
	z-index: 36;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 423px;
}

#u349-4
{
	z-index: 48;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 69px;
}

#u365-4
{
	z-index: 94;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 243px;
	left: 69px;
}

#u352-4
{
	z-index: 98;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 422px;
}

#u366-4
{
	z-index: 102;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 243px;
	left: 419px;
}

#u354-4
{
	z-index: 106;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 775px;
}

#u367-4
{
	z-index: 110;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 243px;
	left: 775px;
}

#u355
{
	z-index: 114;
	width: 308px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #27BA97;
	position: relative;
	margin-right: -10000px;
	margin-top: 213px;
	left: 69px;
}

#u357
{
	z-index: 115;
	width: 308px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #27BA97;
	position: relative;
	margin-right: -10000px;
	margin-top: 213px;
	left: 422px;
}

#u359
{
	z-index: 116;
	width: 308px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #27BA97;
	position: relative;
	margin-right: -10000px;
	margin-top: 213px;
	left: 775px;
}

#team
{
	left: -187px;
	margin-top: 99px;
	position: relative;
}

#u371-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	margin-left: 312px;
	margin-top: 43px;
	position: relative;
}

#pu384
{
	width: 0.01px;
	margin-left: -15px;
	margin-top: 47px;
}

#u384
{
	z-index: 118;
	width: 277px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u390
{
	z-index: 120;
	width: 295px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 348px;
}

#u396
{
	z-index: 122;
	width: 277px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 706px;
}

#pu378-4
{
	width: 0.01px;
	margin-left: -31px;
	margin-top: 20px;
}

#u378-4
{
	z-index: 64;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u373-4
{
	z-index: 52;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 357px;
}

#u382-4
{
	z-index: 60;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 706px;
}

#pu379-4
{
	width: 0.01px;
	margin-left: -31px;
	margin-top: -5px;
}

#u379-4
{
	z-index: 86;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u375-4
{
	z-index: 72;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 357px;
}

#u383-6
{
	z-index: 80;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 706px;
}

#pu422
{
	width: 0.01px;
	margin-left: 163px;
	margin-top: 86px;
}

#u422
{
	z-index: 124;
	width: 277px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u428
{
	z-index: 126;
	width: 308px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 341px;
}

#pu418-4
{
	width: 0.01px;
	margin-left: 148px;
	margin-top: 19px;
}

#u418-4
{
	z-index: 68;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u413-4
{
	z-index: 56;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 357px;
}

#pu417-4
{
	width: 0.01px;
	margin-left: 148px;
	margin-top: -5px;
}

#u417-4
{
	z-index: 90;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u412-4
{
	z-index: 76;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 357px;
}

#download
{
	left: -216px;
	margin-top: 122px;
	position: relative;
}

#pu472
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 51px;
}

#u472
{
	z-index: 2;
	width: 1160px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u472_clip
{
	overflow: hidden;
	width: 1160px;
	height: 560px;
}

#u472_img
{
	margin-top: -43px;
	margin-bottom: -93px;
}

#u434
{
	z-index: 35;
	height: 560px;
	border-style: none;
	border-color: transparent;
	background-color: #2A358C;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

#u434-bw
{
	z-index: 35;
	height: 560px;
}

#u437-4
{
	z-index: 40;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 203px;
}

#u438
{
	z-index: 129;
	width: 368px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 385px;
	left: 396px;
}

#u451
{
	z-index: 131;
	border-style: none;
	border-color: transparent;
	background-color: #232323;
	padding-bottom: 25px;
}

#u451_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u455
{
	z-index: 132;
	width: 258px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 451px;
}

#u451-bw
{
	z-index: 131;
	margin-top: 195px;
	height: 109px;
}

#u461
{
	z-index: 134;
	height: 110px;
	border-style: none;
	border-color: transparent;
	background-color: #2A358C;
}

#u461-bw
{
	z-index: 134;
	margin-top: -8px;
	margin-bottom: -8px;
	height: 110px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 20px;
	padding-bottom: 40px;
}

#page .verticalspacer
{
	clear: both;
}

